<!--
  Generated template for the QRsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'lectorqr' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf="tipo == 4|| tipo==2">
    <button ion-button full (click)="QrAula()">{{ 'escanearaula' | translate }}</button>
  </div>
  <div *ngIf="datos!=null">
    <ion-grid *ngFor="let aux of datos">
      <ion-row>
        <ion-col>
          {{ 'comision' | translate }}:{{aux.Comision}}
        </ion-col>
        <ion-col>
          {{ 'materia' | translate }}: {{aux.Materia}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{ 'profesor' | translate }}:{{aux.nombre_prof}} {{aux.ape_prof}}
        </ion-col>
        <ion-col>
          {{ 'aula' | translate }}: {{aux.aula}}
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  <div *ngIf="alumnos!=null">
    <ion-grid>
      <ion-row>
        <ion-col>
          {{ 'legajo' | translate }}
        </ion-col>
        <ion-col>
          {{ 'apellido' | translate }}
        </ion-col>
        <ion-col>
          {{ 'nombre' | translate }}
        </ion-col>
      </ion-row>
      <div *ngFor="let aux of alumnos">
        <ion-row>
          <ion-col>
            {{aux.legajo}}
          </ion-col>
          <ion-col>
            {{aux.apellido}}
          </ion-col>
          <ion-col>
            {{aux.nombre}}
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
</ion-content>
<ion-footer>
  <button ion-button full color="primary" icon-end (click)="Volver()">
    {{ 'volver' | translate }}
  </button>
</ion-footer>