<!--
  Generated template for the EncuestaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Encuesta</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item *ngIf="tipo =='2'">
    <ion-label>Crear Encuesta</ion-label>
    <ion-checkbox color="dark" checked="true" [(ngModel)]="CrearEncuestaSiNO"></ion-checkbox>
  </ion-item>

  <button *ngIf="tipo =='2'" ion-button color="dark" icon-end (click)="VerResultado()">
    Ver Resultados
  </button>
  <button ion-button color="danger" icon-end (click)="LeerQr()">
    Leer QR
  </button>

  <ion-list *ngIf="tipo =='2' && CrearEncuestaSiNO==true" inset>

    <ion-item>
      <ion-label floating>Cursos</ion-label>
      <ion-select [(ngModel)]="idCurso" interface="popover">
        <ion-option [value]='1'>4A</ion-option>
        <ion-option [value]='2'>4B</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombreEncuesta"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Opcion 1</ion-label>
      <ion-input type="text" [(ngModel)]="op1Nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Opcion 2</ion-label>
      <ion-input type="text" [(ngModel)]="op2Nombre"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>Duracion</ion-label>
        <ion-input type="number" [(ngModel)]="duracion"></ion-input>
      </ion-item>

    <ion-item>
      <ion-label floating>Tipo</ion-label>
      <ion-select [(ngModel)]="tipoEncuesta" interface="popover">
        <ion-option value="radio">Radio</ion-option>
        <ion-option value="check">Check</ion-option>
        <ion-option value="texto">Texto</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button color="danger" icon-end (click)="CrearEncuesta()">
      Crear Encuesta
    </button>

  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button full color="primary" icon-end (click)="Volver()">
    Volver
  </button>
</ion-footer>